body > .container {
	padding: 70px 15px 0;
}

.main_title {
	font-style: bold;
	letter-spacing: 3px;
	font-family: "Montserrat", Helvetica, Arial;
}

.lead_title {	
	font-size: 1.30rem;
	letter-spacing: 3px; 
}

.select_title {
	margin-left: -95px;
}