/*body {
	background-color: #076794;
	color: white;
}*/

.main_title {
	font-style: bold;
	letter-spacing: 3px;
}

.lead {	
	font-size: 1.90rem;
	letter-spacing: 4px; 
}

.select_title {
	margin-left: -95px;
}

.small_lead {
	margin-bottom: -5px;
	margin-left: -6.75rem;
}

.bread-fluid {
	padding: 0px;
}